.Description{
  display: flex;
  justify-content: center;
  background: linear-gradient(295.13deg, #F6F2FF 7.21%, #FFFFFF 93.4%), #C4C4C4;
  width: 100%;
  height: 700px;
  gap: 48px;
  padding-bottom: 100px;
}
.Grid{
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.RightContainer{
  width: calc(((100% - (5 * 24px)) / 6 * 1) + (0 * 24px));
  height: 450px;
}
.MiddleContainer{
  width: calc(((100% - (5 * 24px)) / 6 * 4) + (3 * 24px));
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  font-family: 'Robot', sans-serif;
  font-weight: 500;
  font-size: 21px;
  padding-top: -75px;
}
.Paragraph{
  width: 100%;
  font-weight: 200;
  font-size: 16px;
}
.Button{
  width: fit-content;
  cursor: pointer;
}

.Text{
  width: calc(100% - 76px);
}

.ButtonCV{
  border: 2px solid #38159D;
  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #38159D;
}
.ButtonCV:hover{
  background-color: #38159D;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .Grid{
    width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  .Grid{
    width: 800px;
  }
  .MiddleContainer{
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .Grid{
    width: 80%;
    flex-direction: column;
  }
  .Description{
    padding-top: 200px;
  }
  .MiddleContainer{
    width:  100%;
  }
}

@media only screen and (max-width: 600px) {
  .AboutItem{
    margin-bottom: 150px;
  }
  .Grid{
    width: 90%;
    flex-direction: column;
  }
  .Description{
    width: 100%;
    padding-top: 200px;
  }
}
