.container {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #FFFFFF;
  overflow: hidden;
  flex: 1;
}

.NavBar{
  flex-grow: 0;
  overflow: hidden;
}

.Footer {
  flex-grow: 0 ;
  width: 100%;
  height: 100px;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  /*background: #100D21;*/
  background: linear-gradient(125.53deg, #211B45 8.83%, #0F2538 99.14%), #C4C4C4;
  /*justify-content: center;*/
  padding-bottom: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 1300px) {
  .Grid{
    width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  .Grid{
    width: 800px;
  }
  .FirstContainer{
    padding-right: 0%;
  }
}
@media only screen and (max-width: 850px) {
  .Grid{
    width: 90%;
  }
  .Footer{
    padding-top: -400px;
  }
}

@media only screen and (max-width: 600px) {
  .Grid{
    width: 90%;
    padding-top: 50px;
  }
  .LeftContainer{
    width: 100%;
  }
  .RightContainer{
    width: 100%;
  }
  .Footer{
    margin-top: 00px;
  }
}
